* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.player-details-window {
	display: grid;
	grid-template-rows: 0.2fr 1fr;
	height: 100vh;
	align-items: center;
}

form {
	justify-self: center;
	width: 70%;
	/* align-self: center; */
	height: 65%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	border: 3px groove black;
	border-radius: 20px;
	box-shadow: 12px 18px 14px -12px #000000;
}

form label,
input {
	font-size: 30px;
	padding: 10px;
	margin: 20px;
}

form input {
	border-radius: 30px;
	width: 50%;
}

form button {
	width: 30%;
	height: 50px;
	border-radius: 30px;
	font-size: 30px;
	font-weight: bold;
}

.heading img {
	width: 55px;
	height: auto;
}

.heading {
	display: flex;
	align-items: center;
	font-size: 68px;
	justify-content: center;
	margin: 10px;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.heading span {
	margin: 0px 40px;
}

.game-window {
	display: none;
	grid-template-rows: 0.2fr 1fr 0.1fr;
	height: 100vh;
	background: lightblue;
	justify-items: center;
	padding: 15px 0px;
}

.board {
	display: grid;
	width: 450px;
	height: 450px;
	border: 2px solid red;
	grid-template-columns: repeat(3, 3fr);
	grid-template-rows: repeat(3, 3fr);
	align-self: center;
}

.box {
	border: 1px solid green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset {
    width: 30%;
    border-radius: 35px;
    font-size: 28px;
    height: 45px;
    align-self: center;
}